body{
  margin: 0;
}

.increment{
  background-color: green;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
}

.decrement{
  background-color: red;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
}

.button{
  margin-top: 30px;
}

.navBar{
  height: 70px;
  width: 100%;
  background-color: black;
  color: white;
}

.nav_list{
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_item{
  list-style-type: none;
  margin: 0 10px;
}

.nav_link {
  color: white;
}

.form{
  margin-top: 30px;
}