.navBar{
  height: 80px;
  background-color: greenyellow;
  position: fixed; 
  top: 0;   
  left: 0;     
  width: 100%; 
}

.header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}